debug
target
**/*.rs.bk
*.pdb
**/mutants.out*/

/target
**/*.rs.bk
Cargo.lock
.DS_Store
.vscode
/node_modules
/pkg
/dist

英単語.md

*.exe
ja/

# Next.js
frontend/.next/
frontend/out/
frontend/.turbo/
frontend/.env*.local
frontend/node_modules/
frontend/.vercel
frontend/.swc/
frontend/dist/